.contenedor {
    background-color: white;
    display: grid;
    grid-template-columns: auto auto auto;
    width: 70%;
    margin: 0 auto;
}
.izq {
    background-color: green;
}
.cent {
    background-color: white;
}
.der {
    background-color: white;
}